---
---

@import "{{ site.theme }}";


nav {
  overflow: hidden;
}

nav a {
  float: left;
  color: $body-link-color;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
	
  &:hover {
	color: #25d1f6
  }
  
  &:active {
	color: #25d1f6
  }
}

nav ul {
    display: inline-block;
    list-style-type: none;
}
